
                                      <!-- Classic Modal -->
                           
      
      
                                            <!--  <button (click)="isOpen = !isOpen" mat-raised-button color="accent"  (click)="post.id"  >
                                                <mat-icon></mat-icon>update
                                              </button>
                                              <form
                                                *ngIf="isOpen"
                                                [formGroup]="form"
                                                #formDirective="ngForm"
                                                (ngSubmit)="onSubmit(form.value)"
                                                novalidate                                        
                                              >
                                                <mat-form-field>
                                                  <mat-label> Title</mat-label>
                                                  <input matInput formControlName="title" />
                                                </mat-form-field>
                                                <mat-form-field>
                                                  <mat-label> description</mat-label>
                                                  <input matInput  formControlName="description" />
                                                </mat-form-field>
                                                <button
                                                  color="accent"
                                                  [disabled]="!form.valid"
                                                  mat-raised-button
                                                  type="submit"
                                                 
                                            
                                                >
                                                  <span>Update</span>
                                                </button>
                                              </form>
                                            -->
                           <!--                <div class="col-md-12">
                                                <div class="main-content">
                                            <div class="container mt-5">
                                              <form [FormGroup]="questionForm" (ngSubmit)="questionSubmit()">
                                                <div class="col-lg-4 mt-2">
                                                  <input type="text" class="form-control" formControlName="title" placeholder="Enter title" >
      
                                                </div>
      
                                                <div class="col-lg-4 mt-2">
                                                  <input type="text" class="form-control"  formControlName="description" placeholder="Enter description">
      
                                                </div>
      
                                                <div class="modal-footer" *ngIf="getparamId" (click)="questionUpdate()">
                                                  <button mat-raised-button type="button" class="btn btn-link" >Update</button>
                                                </div>
      
      
                                              </form>
      
                                            </div>
      
                                        </div>
                                    </div>
                                    --> 
      
                                          <!--   <div class="col-md-12">
                                                <div class="card ">
                                                  
                                                  <div class="card-body ">
                                                    <form method="get" action="/" class="form-horizontal">
                                                     
                                                     
                                                      <div class="row">
                                                        <label class="col-sm-2 col-form-label">Title</label>
                                                        <div class="col-sm-10">
                                                          <mat-form-field class="example-full-width">
                                                            <input matInput type="text" placeholder="Update"  formControlName="title">
                                                          </mat-form-field>
                                                        </div>
                                                      </div>
                                                        
                                                      <div class="row">
                                                        <label class="col-sm-2 col-form-label">Description</label>
                                                        <div class="col-sm-10">
                                                          <mat-form-field class="example-full-width">
                                                            <input matInput type="text" placeholder="update"  formControlName="description">
                                                          </mat-form-field>
                                                        </div>
                                                      </div>
                                              
                                                    </form>
                                                  </div>
                                                </div>
                                              </div>
                                              --> 

                                              <div class="col-md-12">
                                                <div class="main-content">
                                              <div class="container mt-5">
                                                <form  FormGroup="questionForm" (ngSubmit)="questionSubmit()">
        
                                                  
                                                  <div class="col-lg-4 mt-2">
                                                    <input type="text" class="form-control" formControlName="title" placeholder="Enter title" >
        
                                                  </div>
        
                                                  <div class="col-lg-4 mt-2">
                                                    <input type="text" class="form-control"  formControlName="description" placeholder="Enter description">
        
                                                  </div>
        
                                                  <div  >
                                                    <button mat-raised-button type="button" class="btn btn-link"  type="submit" (click)="questionUpdate()">Updateeee</button>
                                                  </div>
        
        
                                                </form>
        
                                              </div>
                                             
                                             </div>
                                              </div>