<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://alphalyr.fr/">
           Alphalyr
          </a>
        </li>
        <li>
          <a href="https://alphalyr.fr/a-propos/">
            About Us
          </a>
        </li>
        <li>
          <a href="https://alphalyr.fr/blog/">
            Blog
          </a>
        </li>
        <li>
          <a href="https://alphalyr.fr/solutions/#SOLUTIONSBYROLE">
            Solution
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{test | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by
      <a href="https://alphalyr.fr/" target="_blank">Alphalyr</a> .    </div>
  </div>
</footer>
